/* 
    Original Author: Brianna Baldwin
    Date Created: 04/05/2022
    Date Last Modified: 04/15/2022
    Modified by: Brianna Baldwin
    Modification log:
        04/05/2022 - Created file | added styles to welcome about, and skills page
        04/09/2022 - Refined file to remove unwanted content
        04/12/2022 - Added overlay styling
        04/14/2022 - Added contact and footer styling
        04/15/2022 - Edited page, contact and footer styling
        04/21/2022 - Finished styling and cleaned up file
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/******* Mobile Styling *******/
html,
body,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

    body > div {
        overflow-x: hidden;
    }

html {
    scroll-behavior: smooth;
}

/* Hello section styling */
#welcome {
    background-image: url("../assets/helloImage.jpg");
    /*Photo by Simon Berger from Pexels*/
    background-color: #fbf0f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    position: relative;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    #welcome h1 {
        font-size: 50px;
        margin: auto;
    }

.welcome-text {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 5px;
}

/* About styling */
#about {
    height: 100vh;
    background-color: #DCBCD2;
    color: #171717;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #about h1 {
        text-align: center;
        color: #171717;
        padding-bottom: 20px;
    }

#profile-pic {
    border-radius: 100%;
    height: 250px;
    border: solid 5px #512A45;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


/* Skills bg color, text positioning and picture positioning */

#skills {
    height: fit-content;
    padding: 50px 20px;
    color: #171717;
    text-align: center;
    background-color: #FDFBFC;
}

    #skills h1 {
        text-align: center;
        color: #171717;
        padding-bottom: 20px;
    }

canvas {
    width: auto;
    height: auto;
}

.skills-column {
    background-color: #512A45;
    margin: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s ease-in-out;
    padding: 10px;
}

    .skills-column:hover {
        background-color: rgb(238, 208, 131);
        color: #171717;
        transition: 0.3s ease-in-out;
        font-weight: 500;
    }

#skills-certifications {
    padding-top: 3rem;
}

    #skills-certifications h3 {
        font-weight: 400;
    }

    #skills-certifications a:hover {
        text-decoration: none;
    }
/* Portfolio Grid and Styling */

#portfolio {
    height: fit-content;
    padding: 50px 20px;
    color: #171717;
    text-align: center;
    background-color: #DCBCD2;
}

h1 {
    text-align: center;
    color: #171717;
    padding-bottom: 40px;
}

.image-holder {
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

    .image-holder:hover {
        transform: scale(1.07, 1.07);
        transition: 0.5s ease-in-out;
    }

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(81, 42, 69, 0.9); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

/* Contact Styling */

#contact {
    height: 100vh;
    padding: 35% 10%;
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    #contact h1 {
        text-align: center;
        background-color: #fefdfe;
        flex: 0 0 100%;
    }

    #contact input:hover, #contact input:focus, #contact textarea:hover, #contact textarea:focus {
        outline: 0;
        box-shadow: 0 1px 1px rgba(238, 208, 131, 0.075) inset, 0 0 8px rgba(238, 208, 131, 0.6);
        border-color: #eed083;
    }

#submit-button {
    text-align: center;
}

#contact button {
    color: #FFF;
    background-color: #512A45;
    font-size: 20px;
    padding: 10px;
}

    #contact button:hover {
        background-color: #eed083;
        color: #171717;
        border-color: #e6c36a;
        font-weight: 500;
    }

.contact-container {
    padding: 0 10%;
}

.form-input {
    margin: .5rem;
}

textarea:focus,
input:focus {
    outline: none !important;
    border: 1px solid #512A45;
    box-shadow: 0 0 10px #DCBCD2;
}
/* Footer Styling */

footer {
    height: fit-content;
    background-color: #DCBCD2;
    padding: 20px;
    color: #171717;
    text-align: center;
}

    footer p {
        font-size: 16px;
    }

    footer a {
        color: #171717;
    }

.fab {
    width: 40px;
    transition: 0.05s ease-in-out;
}

.row {
    display: flex;
    justify-content: center;
}

.footer-column {
    flex: 33.33%;
}

#center-column {
    padding-left: 20px;
}

.footer-row {
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.media-column {
    padding: .5rem;
}

.fab:hover {
    transform: scale(1.1, 1.1);
    transition: 0.05s ease-in-out;
    color: #171717;
}

#backtotop-text:hover {
    zoom: 1.1;
    -moz-transform: scale(1.1);
    color: #171717;
    text-decoration: none;
}

#cwi-img {
    width: 39px;
    transition: 0.05s ease-in-out;
    border-radius: 3px;
    margin-bottom: 4px;
}

    #cwi-img:hover {
        transform: scale(1.1, 1.1);
        transition: 0.05s ease-in-out;
        color: #171717;
    }
/* Tablet and Desktop Styling */

@media only screen and (min-width: 900px) {
    /* Navbar desktop styling */
    .navbar-light:hover,
    .navbar-nav:hover .nav-link:hover {
        background-color: #512A45;
        color: #fff;
    }
    /* Welcome desktop styling */
    #home {
        background-image: url("../assets/helloImage.jpg");
        /*Photo by Simon Berger from Pexels*/
        background-color: #fbf0f8;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center bottom;
        position: relative;
        height: 100vh;
    }

        #home h1 {
            line-height: 150px;
            margin-left: 20%;
            font-size: 70px;
            padding-top: 80px;
        }

    /* About desktop styling */

    #about {
        padding: 8% 10%;
    }

    #profile-pic {
        height: 400px;
    }

    #about-content span {
        font-size: 25px;
    }

    /*Skills desktop styling*/
    #skills {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto 0 auto 0;
        padding: 0 10% 8% 10%;
        height: 100vh;
    }

        #skills > h1 {
            flex: 0 0 100%;
            align-self: end;
        }

    #canvas-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #skills-certifications {
        padding-top: 1rem;
        padding-left: 3rem;
    }

    .skills-column {
        margin: 1rem;
    }

    #cwi-img {
        width: 39px;
        transition: 0.05s ease-in-out;
        border-radius: 3px;
    }

        #cwi-img:hover {
            transform: scale(1.1, 1.1);
            transition: 0.05s ease-in-out;
            color: #171717;
        }

    /* Portfolio section styling */
    #portfolio {
        padding: 8% 10%;
    }

    /* Contact section styling */
    #contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto 0 auto 0;
        padding: 8% 10%;
    }

        #contact > h1 {
            flex: 0 0 100%;
            align-self: end;
            padding: 0;
        }

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .form-group {
        flex: 0 0 100%;
    }

    /* Footer desktop styling */
    footer {
        text-align: center;
        background-color: #DCBCD2;
        padding: 20px 10%;
        color: #171717;
    }

        footer p,
        footer a {
            font-size: 25px;
            color: #171717;
        }

            footer a:hover {
                color: rgb(80, 93, 60);
            }

        footer img:hover,
        .fab:hover {
            transform: scale(1.1, 1.1);
            transition: 0.2s ease-in-out;
            color: #171717;
        }

        footer p {
            font-size: 20px;
            text-align: center;
        }
}
